# Este archivo se crea automáticamente al crear un proyecto en Unity.

# Ignorar carpetas generadas automáticamente por Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/
/[Ll]ogs/

# Ignorar paquetes y configuraciones de Unity
# /[Aa]ssets/AssetStoreTools*
/[Uu]ser[Ss]ettings/
/ProjectSettings/ProjectVersion.txt
/ProjectSettings/ProjectSettings.asset
/ProjectSettings/Packages/
/Packages/packages-lock.json

# Ignorar archivos generados por Visual Studio y Rider
*.csproj
*.sln
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.bak

# Ignorar archivos generados por compilación
*.apk
*.aab
*.ipa
*.exe
*.dll
*.app
*.map
*.so
*.idb
*.hprof

# Ignorar archivos generados por Unity Shader Compiler
/shadercompiler-*.log

# Ignorar archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos generados automáticamente por compilación y el entorno de desarrollo
.vs/
Logs/
*.log
*.json
*.user

